<table class="table">
  <thead *ngIf="heading">
    <tr>
      <th *ngIf="rowSelection"></th>
      <th *ngFor="let heading of heading">{{ heading }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <th *ngIf="rowSelection">
        <input
          type="checkbox"
          value="i"
          (change)="checkboxClicked($event, i)"
        />
      </th>

      <td *ngFor="let element of item | keyvalue" (click)="selectRow(i)">
        {{ element.value }}
      </td>
    </tr>
  </tbody>
</table>
