<div class="main-container row">
  <div class="side-menu col-md-2 p-4">
    <div class="menu-title m-2">
      <span class="icons">
        <img class="m-2" src="../assets/icons/icon-Menu.svg" />
        <img class="m-2" src="../assets/icons/icon-storage-color.svg" />
      </span>
      <span class="title h4">
        {{ 'title.ods' | translate }}
      </span>
    </div>
    <div class="mt-4">
      <app-nav-bar [menu]="menuLinks" class="mt-3"></app-nav-bar>
    </div>
  </div>
  <div class="col-md-10">
    <div class="m-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
